@tailwind base;

/* Website Theme */

:root {
  /* Heliotrope Gray */
  --main-bg-color: #aa9fb1;
  /* Purple Navy */
  --secondary-bg-color: #4e5283;
  /* Tuscany */
  --main-fg-color: #cca7a2;
  /* Mauve */
  --secondary-fg-color: #d9bbf9;
  /* Rebecca Purple */
  --alt-color: #9c93de;
  /* Jet */
  --jet: #323234;
  /* St. Patrick's Blue */
  --st-patricks-blue: #222a68;
}

html,
body {
  @apply bg-rebecca-purple;
  @apply text-jet;
  @apply font-sans;
  @apply w-screen;
  @apply h-screen;
  @apply font-semibold;
  @apply m-0;
  @apply outline-none;
  @apply overflow-auto;
  @apply touch-auto;
}

body {
  scrollbar-color: var(--jet) var(--alt-color);
}

.page {
  @apply grid;
  @apply grid-cols-7;
  @apply grid-rows-6;
  @apply justify-items-center;
}

h1 {
  @apply text-4xl;
  @apply py-5;
}

h2 {
  @apply text-3xl;
  @apply py-3;
}

h3 {
  @apply text-2xl;
  @apply py-2;
}

/* Center elements in the grid */
article {
  @apply col-span-full;
  @apply sm:col-start-2;
  @apply sm:col-end-7;
  @apply 2xl:col-start-3;
  @apply 2xl:col-end-6;
  @apply row-span-full;
  @apply p-2;
}

ul,
ol {
  @apply list-inside;
  @apply my-1;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li > ul,
li > ol {
  @apply ml-4;
}

p {
  @apply py-2;
}

hr {
  @apply h-1.5;
  @apply my-4;
  @apply bg-mauve;
  @apply border-mauve;
  @apply rounded;
}

div.sourceCode {
  @apply rounded;
  @apply p-2;
  @apply font-medium;
}

p > code {
  @apply text-mauve;
  @apply bg-jet;
  @apply rounded;
  @apply p-0.5;
}

blockquote {
  @apply bg-tuscany;
  @apply text-jet;
  @apply border-l-8;
  @apply border-mauve;
  @apply px-2;
  @apply rounded;
}

figure {
  @apply my-8;
  @apply block;
  @apply grid;
  @apply justify-items-center;
}

figure > img {
  @apply max-w-md;
}

figure > figcaption {
  @apply justify-self-start;
}

a {
  @apply outline-none;
  @apply border-jet;
}

a[href^="https://"]
{
  @apply text-st-patricks-blue;
  @apply border-st-patricks-blue;
  @apply border-solid;
  @apply border-b-2;
}

a:link[href^="https://"]
{
  @apply border-b-2;
}

a:focus[href^="https://"]
{
  @apply bg-mauve;
}

a:hover {
  @apply border-solid;
  @apply border-b-2;
}

a:hover[href^="https://"]
{
  @apply bg-mauve;
}

/* Global */
#root {
  @apply grid;
  @apply grid-cols-7;
  @apply grid-rows-6;
  @apply justify-items-center;
}

.navbar {
  @apply col-span-full;
  @apply row-span-1;
  @apply flex;
  @apply justify-center;
}

#sidebar {
  @apply col-span-1;
  @apply row-start-2;
  @apply row-end-auto;
}
