<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$</title>
    <link rel="stylesheet" href="/css/__global.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>
  <body>
    <div class="page">
      <article>
        <header>
          <h2 class="page-title">$title$</h2>
        </header>
        $body$
      </article>
    </div>
  </body>
</html>
